::selection {
    background: #5c6bc0;
}
::-moz-selection {
    background: #5c6bc0;
}
ul.menu li {
         display: inline;
         margin-right: 5px;
     }
ul.social li {
    display: inline;
    margin-right: 10px;
}
footer {
    background-color: #5c6bc0;
    text-align: center;
}
.art_text::before {
    width: 750px;
    position: absolute;
    height: 3px;
    top: 50px;
    left: 100px;
    background: #eeeeee;
    Content: "";
}
.art_text {
    position: relative;
    padding-top: 100px;
}

.img {
    text-align: center;
}
#pagination {
    text-align: center;
}
.art_header {
    position: relative;
}

.i_do {
    position: absolute;
    right: -15px;
    background-color: #5c6bc0;
    color: white;


}
.art_date {
    position: absolute;
    left: 100px;
}

.inputs {
    background-color: #f7f9fc;
    height: 40px;
    width: 300px;
    border: none;
    padding-left: 20px;
    margin: 10px;
    outline: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.inputs:required:valid {
    border: 2px solid green;
    color: green;
    height: 36px;
    width: 296px;
}
.inputs:invalid {
    border: 2px solid red;
    color: red;
    height: 36px;
    width: 296px;

}
.text_area:required:valid {
    border: 2px solid green;
    color: green;
    height: 116px;
    width: 636px;
}
.text_area:invalid {
    border: 2px solid red;
    color: red;
    height: 116px;
    width: 636px;

}
.inputs_sub:required:valid {
    border: 2px solid green;
    color: green;
    height: 36px;
    width: 636px;
}
.inputs_sub:invalid {
    border: 2px solid red;
    color: red;
    height: 36px;
    width: 636px;

}


input:focus::-moz-placeholder{ opacity: 0;}
input:focus::-webkit-input-placeholder{ opacity: 0;}
input:focus:-moz-placeholder{ opacity: 0;}
input:focus:-ms-input-placeholder{ opacity: 0;}

textarea:focus::-moz-placeholder{ opacity: 0;}
textarea:focus::-webkit-input-placeholder{ opacity: 0;}
textarea:focus:-moz-placeholder{ opacity: 0;}
textarea:focus:-ms-input-placeholder{ opacity: 0;}

.inputs_sub {
    background-color: #f7f9fc;
    height: 40px;
    width: 640px;
    border: none;
    padding-left: 20px;
    margin: 0 10px 10px 10px;
    outline: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.text_area {
    background-color: #f7f9fc;
    border: none;
    padding-left: 20px;
    padding-top: 15px;
    margin: 0 10px 10px 10px;
    width: 640px;
    height: 120px;
    outline: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.sub_button {
    background-color: white;
    color: #5c6bc0;
    border: none;
    font-weight: bolder;
    font-size: larger;
}
body {
    width: 950px;

}


a {
    color: #5c6bc0;
}
a:hover {
    color: #3d4b8a;
}
footer a {
    color: #ffffff;
    text-decoration: none;

}
footer a:hover {
    color:#ffffff;
    text-decoration: underline;
}
.read_more {
    font-size: 21px;
    margin:5px 5px 5px 0;
    position: absolute;
    left: 3px;

}
.tags {
    position: absolute;
    right: 3px;
    font-size: 15px;


}
.tags a{
    color: #c7c7c7;
}
.tags a:hover {
    color: #5c6bc0;
}
.tags a:active {
    text-decoration: none;
}
.read_more a {
    color: #5c6bc0;
    padding:18px 34px;
}
.read_more a:hover {
    color: #5c6bc0;
    border: 1px solid #f1f1f1;
    text-decoration: none;
    padding:17px 33px;

}
.read_more a:active {
    border: 1px solid #5c6bc0;
    padding:17px 33px;
}
footer.art_footer {
    background-color: white;
    text-align: left;
    position: relative;
    height: 50px;
}
