/* font-family: "LatoRegular"; */
@font-face {
    font-family: "LatoRegular";
    src: url("../fonts/LatoRegular/LatoRegular.eot");
    src: url("../fonts/LatoRegular/LatoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoRegular/LatoRegular.woff") format("woff"),
    url("../fonts/LatoRegular/LatoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "LatoBold"; */
@font-face {
    font-family: "LatoBold";
    src: url("../fonts/LatoBold/LatoBold.eot");
    src: url("../fonts/LatoBold/LatoBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoBold/LatoBold.woff") format("woff"),
    url("../fonts/LatoBold/LatoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "LatoItalic"; */
@font-face {
    font-family: "LatoItalic";
    src: url("../fonts/LatoItalic/LatoItalic.eot");
    src: url("../fonts/LatoItalic/LatoItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoItalic/LatoItalic.woff") format("woff"),
    url("../fonts/LatoItalic/LatoItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "LatoLight"; */
@font-face {
    font-family: "LatoLight";
    src: url("../fonts/LatoLight/LatoLight.eot");
    src: url("../fonts/LatoLight/LatoLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoLight/LatoLight.woff") format("woff"),
    url("../fonts/LatoLight/LatoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "LatoBoldItalic"; */
@font-face {
    font-family: "LatoBoldItalic";
    src: url("../fonts/LatoBoldItalic/LatoBoldItalic.eot");
    src: url("../fonts/LatoBoldItalic/LatoBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoBoldItalic/LatoBoldItalic.woff") format("woff"),
    url("../fonts/LatoBoldItalic/LatoBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "LatoLightItalic"; */
@font-face {
    font-family: "LatoLightItalic";
    src: url("../fonts/LatoLightItalic/LatoLightItalic.eot");
    src: url("../fonts/LatoLightItalic/LatoLightItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoLightItalic/LatoLightItalic.woff") format("woff"),
    url("../fonts/LatoLightItalic/LatoLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/*-------------------------- overall ----------------*/
article {
    background-color: white;
    margin-top: 50px;
    box-shadow: 0 0 25px rgba(0,0,0,0.3);
}

body {
    background-color: #f7f9fc;
}
h2 {
    margin-top: 60px;

}


article h2 {
    font-family: LatoBold;

}
article h3 {
    font-family: LatoItalic;

    color: #aaaaaa;
    font-weight: normal;
}
a {
    color: #5c6bc0;
}
a:hover {
    color: #3d4b8a;
}
footer {
    background-color: #5c6bc0;
    text-align: center;
}
footer a {
    color: #ffffff;
    text-decoration: none;

}
footer a:hover {
    color:#ffffff;
    text-decoration: underline;
}

ul.menu li {
         display: inline;
         margin-right: 35px;
    font-family: "LatoBold";
    font-size: 16px;

     }

ul.menu a {
    color: #333333;
}

ul.social li {
    display: inline;
    margin-right: 10px;
}
nav.nav_header {
    float: right;

}

::selection {
    background: #5c6bc0;
}
::-moz-selection {
    background: #5c6bc0;
}
.art_text::before {
    width: 100%;
    position: absolute;
    height: 3px;
    top: 20px;
    left: 0;
    background: #eeeeee;
    Content: "";
}
.art_text {
    position: relative;
    padding-top: 50px;
    font-family: LatoRegular;
    font-size: 1.0625rem;
    line-height: 30px;
}

.img {
    margin: 0 -12px;
}

.img img  {

}

.img_text {
    float: left;
}
#pagination {
    text-align: center;
}
.art_header {
    position: relative;
}

.i_do {
    position: absolute;
    right:  -0.75rem;
    background-color: #5c6bc0;
    color: white;
    padding: 10px;
    top:0;
    font-family: LatoBold;
    font-size: 14px;

}
.art_date {
    position: absolute;
    margin-top: 50px;
    color: #c1c1c1;
    font-size: 14px;
    font-family: LatoBold;
}

.inputs {
    background-color: #f7f9fc;
    height: 40px;
    width: 300px;
    border: none;
    padding-left: 20px;
    margin: 10px;
    outline: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.inputs:required:valid {
    border: 2px solid green;
    color: green;
    height: 36px;
    width: 296px;
}
.inputs:invalid {
    border: 2px solid red;
    color: red;
    height: 36px;
    width: 296px;

}
.text_area:required:valid {
    border: 2px solid green;
    color: green;
    height: 116px;
    width: 636px;
}
.text_area:invalid {
    border: 2px solid red;
    color: red;
    height: 116px;
    width: 636px;

}
.inputs_sub:required:valid {
    border: 2px solid green;
    color: green;
    height: 36px;
    width: 636px;
}
.inputs_sub:invalid {
    border: 2px solid red;
    color: red;
    height: 36px;
    width: 636px;

}


input:focus::-moz-placeholder{ opacity: 0;}
input:focus::-webkit-input-placeholder{ opacity: 0;}
input:focus:-moz-placeholder{ opacity: 0;}
input:focus:-ms-input-placeholder{ opacity: 0;}

textarea:focus::-moz-placeholder{ opacity: 0;}
textarea:focus::-webkit-input-placeholder{ opacity: 0;}
textarea:focus:-moz-placeholder{ opacity: 0;}
textarea:focus:-ms-input-placeholder{ opacity: 0;}

.inputs_sub {
    background-color: #f7f9fc;
    height: 40px;
    width: 640px;
    border: none;
    padding-left: 20px;
    margin: 0 10px 10px 10px;
    outline: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.text_area {
    background-color: #f7f9fc;
    border: none;
    padding-left: 20px;
    padding-top: 15px;
    margin: 0 10px 10px 10px;
    width: 640px;
    height: 120px;
    outline: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.sub_button {
    background-color: white;
    color: #5c6bc0;
    border: none;
    font-weight: bolder;
    font-size: larger;
}




.read_more {
    font-size: 21px;
    font-family: LatoBold;
    margin:50px 5px 50px 0;
    position: absolute;
    left: 3px;

}
.tags {
    position: absolute;
    right: 3px;
    font-size: 15px;
    font-family: LatoRegular;
    margin-top: 50px;
    margin-bottom: 50px;



}
.tags a{
    color: #c7c7c7;
}
.tags a:hover {
    color: #5c6bc0;
}
.tags a:active {
    text-decoration: none;
}
.read_more a {
    color: #5c6bc0;
    padding:18px 34px;
}
.read_more a:hover {
    color: #5c6bc0;
    border: 1px solid #f1f1f1;
    text-decoration: none;
    padding:17px 33px;

}
.read_more a:active {
    border: 1px solid #5c6bc0;
    padding:17px 33px;
}
footer.art_footer {
    background-color: white;
    text-align: left;
    position: relative;
    height: 50px;
    margin-bottom: 80px;
}

.logo {
    font-family: "LatoBoldItalic";
    font-size: 42px;
    float: left;

}
.logo a {
    text-decoration: none;
    color: #333333;
}

header .container {
    margin-top: 85px;

}

@media (min-width: 544px) {
    .container {
        max-width: 576px;
    }
    .i_do {
        right: -0.9375rem;

    }
    .img {
        margin: 0 -15px;

    }
    .img img  {
        width: 576px;
    }
    h2 {
        margin-top: 60px;

    }



}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
    .i_do {
        right:  -0.9375rem;

    }
    .img {
        margin: 0 -15px;

    }
    .img img  {
        width: 720px;
    }
    h2 {
        margin-top: 60px;

    }



}

@media (min-width: 992px) {
    .container {
        max-width: 940px;
    }
    .i_do {
        right: -130px;
        top:inherit;
        margin-top: 20px;

    }
    article {
        padding: 0 100px;
    }
    .img {
        margin: 0 -115px;

    }
    .img img  {
        width: 940px;
    }
    h2 {
        margin-top: 100px;

    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
    .i_do {
        right: -122px;
        top:inherit;
        margin-top: 20px;
    }
    article {
        padding: 0 100px;
    }
    .img {
        margin: 0 -115px;

    }
    .img img  {
        width: 1170px;
    }
    h2 {
        margin-top: 100px;

    }
    article h2 {
        font-size: 40px;

    }
    article h3 {
        font-size: 25px;
    }


}